# Adjust the port if your Nest backend is running elsewhere
NEXT_PUBLIC_API_BASE=http://localhost:3000
NEXT_PUBLIC_S3_PUBLIC_BASE_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_client_id_here.apps.googleusercontent.com