# PostgresSQL connection string
DATABASE_URL=""

# Secret key used to sign JSON Web Tokens (JWT). Use a strong random string here.
JWT_SECRET=""

# Token expiry
JWT_EXPIRES_IN="604800"

# Port your NestJS server should run on
PORT=3000

SUPER_ADMIN_ID=1

S3_ENDPOINT=
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_CHAPTERS=readory-book
S3_FORCE_PATH_STYLE=true
S3_PUBLIC_BASE_URL=
S3_AUTO_CREATE_BUCKET=true